@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins/_breakpoints";
@import "balloon-css/src/balloon";

.navbar-cs {
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0px;
  right: 0px;
  height: 75px;
  flex-shrink: 0;

  &__button {
    width: 33%;
    height: 75px;
    cursor: pointer;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:hover {
      background-color: theme-color("brand");
      color: #ffffff;
    }

    // Mobile notification badge positioning
    .notification-badge {
      top: 15px !important;
      left: 70% !important;
      transform: translate(0%, 0%) !important;
      z-index: 101;
    }
  }
}

@include media-breakpoint-up(md) {
  .navbar-cs {
    width: 75px;
    height: 100vh;
    // Add some padding from the right edge to account for scrollbar
    right: 2px;

    &__button {
      width: 100%;
      
      // Adjust notifications badge positioning to avoid scrollbar
      .notification-badge {
        left: 50px !important;
        top: 5px !important;
        transform: translate(0%, 0%) !important;
        z-index: 101;
      }
    }
  }
}
