$theme-colors: (
  "brand": #a02a19,
  "brand-secondary": #f0885d,
);

.cropper-view-box {
  border-radius: 50% !important;
}

@import "~bootstrap/scss/bootstrap";
@import "./pages/Home.scss";
@import "./pages/Profile.scss";
@import "./components/Post.scss";
@import "./components/UserCard.scss";
@import "./components/Navbar.scss";
@import "./components/DiscoverUser.scss";
@import "./components/ProfilePictureModal.scss";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

body {
  margin: 0 !important;
  padding: 0 !important;
  background-color: #ffffff;
  overflow-x: hidden;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.ws-pre-line {
  white-space: pre-line;
}

.sh-1 {
  box-shadow: 0px 20px 26px -25px rgba(0, 0, 0, 0.5);
}

.cursor-pointer {
  cursor: pointer;
}

.d-text-underline {
  &:hover {
    text-decoration-line: underline;
  }
}

.display-5 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2;
}

.display-7 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #eeeeee;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #cbcbcb;
}

.page {
  padding: 75px 0 0 0;
  min-width: 0;
  height: 100vh;
}

@include media-breakpoint-up(md) {
  .page {
    padding: 0 75px 0 0;
  }
}
